root {
  box-sizing: border-box;
  font-size: calc(.5em + 1vw);
}
body {
  background-color: lightgrey;
  margin: 0;
  padding: 0;
}
.App{
  display: flex;
}
.inputBox{
  margin: auto;
  width: 40%;
  min-height: 20%;

}